/* ------------------------------Fonts---------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* -------------------------------Common Styles --------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

header {
  width: 100%;
  background-color: #2d25a0;
}

footer {
  text-align: center;
}

.container {
  max-width: 1160px;
  margin: auto;
}

.section-title {
  font-size: 48px;
  color: #173562;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0px;
}

/* -----------------------------------Header Section Styles---------------------------------------- */

.top-section {
  display: flex;
  align-items: center;
  padding: 86px 0px;
}

.topsec-text h1 {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  line-height: 80px;
  padding-bottom: 27px;
}

.topsec-button {
  display: block;
  text-decoration: none;
  padding: 10px 24px;
  background-color: #e02c6d;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
}

.fa-arrow-right {
  font-size: 16px;
  padding-left: 10px;
}

.topsec-image {
  padding-left: 102px;
}

.topsec-image img {
  max-width: 556px;
}

header:hover .topsec-image img {
  transform: translate(10px, 30px) scale(70%) rotate(360deg);
  transition: transform 2s ease-in-out;
  animation-name: movingbanner;
  animation-duration: 10s;
  animation-delay: 2.5s;
  animation-iteration-count: 2;
}

@keyframes movingbanner {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(0.7) rotate(90deg);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  75% {
    transform: scale(0.7) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
/* -------------------------- Players Section Styles ------------------------------- */

.players-sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 27px 30px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.player {
  padding: 15px;
  box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.15);
}

.player img {
  width: 100%;
}

.player-name {
  font-size: 28px;
  color: #18191f;
  font-weight: 700;
  line-height: 40px;
  padding-top: 16px;
  padding-bottom: 10px;
}

.player-detail {
  font-size: 16px;
  line-height: 26px;
  color: #6c6c6c;
  text-align: justify;
}

/* -------------------------------Team Section Styles---------------------------------- */

.teams {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.team:hover {
  box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.15);
}
.team img {
  width: 100%;
}
/* -------------Video Section Styles--------- */
.video-sec {
  padding-bottom: 80px;
}

.videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  box-shadow: ;
}

.video {
  background-color: #3b3b3b;
  box-shadow: 1px 1px 10px 10px rgb(192, 192, 192);
}

.video p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
  line-height: 26px;
}
/* ---------------------------------Footer Section Styles------------------------------- */

.footer-logoimage img {
  max-width: 100%;
}

.social-links a {
  margin-right: 14px;
}

.copyright-text {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 63px;
}
/*====================== Media Queries ================================*/

/*------------------------------------------- FOR MOBILI DEVICES------------------------------------- */

@media only screen and (max-width: 688px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .top-section {
    flex-direction: column;
  }
  .topsec-text h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .topsec-image {
    padding-top: 50px;
    padding-left: 0px;
  }
  .topsec-image img {
    width: 100%;
  }
  .players-sec {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 0px;
  }
  .player img {
    width: 100%;
  }
  .teams {
    grid-template-columns: repeat(2, 1fr);
  }
  .videos {
    grid-template-columns: repeat(1, 1fr);
  }
  .video p {
    font-size: 16px;
  }
}

/* -----------------For Tablet --------------*/

@media only screen and (min-width: 689px) and (max-width: 1023px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .topsec-text h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
  }

  .topsec-image {
    padding-left: 10px;
  }
  .topsec-image img {
    width: 100%;
  }

  .players-sec {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 0px;
  }

  .player img {
    width: 100%;
  }

  .teams {
    grid-template-columns: repeat(3, 1fr);
  }

  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}
